// custom fonts

// Alliance Regular
@font-face {
  font-family: "Alliance";
  src: url("AllianceNo2-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

// Alliance Semibold
@font-face {
  font-family: "Alliance";
  src: url("AllianceNo2-Semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

body * {
  font-family: "Alliance";
  letter-spacing: -0.6px;
}
