// custom fonts

// Alliance Regular
@font-face {
  font-family: "Alliance";
  src: url("AllianceNo2-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

// Alliance Semibold
@font-face {
  font-family: "Alliance";
  src: url("AllianceNo2-Semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

body * {
  font-family: "Alliance";
  letter-spacing: -0.6px;
}

// break points vars & mixins

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($min_max, $screen) {
  @media (min-width: $screen+"px") {
    @content;
  }
}

// layout config
.uk-container-large {
  max-width: 1440px;
}

// hero section
.hero-section {

  height: 695px;

  .hero-sub {
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 51px;
    text-align: center;
    margin-bottom: 36px;
    p {
      letter-spacing: -2.9px;
      padding: 0 15px;
    }
  }

  .uk-link-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 152px;
    font-weight: bold;

    img {
      left: 5px;
    }
  }

  .uk-label {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 7px 4px 4px;
    line-height: 20px;
    margin-bottom: 22px;
  }

  @include lg {
    padding-bottom: 62.1%;
    height: 0;
    
    .hero-sub{
      margin-bottom: 38px;
    }

    .uk-link-reset {
      margin-bottom: 53px;
      img {
        left: 2px;
        margin-left: 8px;
      }
    }

    .uk-label {
      position: absolute;
      right: 60px;
      bottom: 29px;
    }  
  }

}
