// custom fonts

// Alliance Regular
@font-face {
  font-family: "Alliance";
  src: url("AllianceNo2-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

// Alliance Semibold
@font-face {
  font-family: "Alliance";
  src: url("AllianceNo2-Semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}


// font size var | for future input from customizer
$font-xs: 6px;
$font-sm: 12px;
$font-m: 16px;
$font-l: 40px;
$font-xl: 60px;

// font letter spacing var | for future input from customizer
$letter-xs: -0.05px;
$letter-sm: -0.36px;
$letter-m: -0.6px;
$letter-l: -2px;
$letter-xl: -2.9px;

body * {
  font-family: "Alliance";
  letter-spacing: $letter-m;
}




// break points vars & mixins

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($min_max, $screen) {
  @media (min-width: $screen+"px") {
    @content;
  }
}

body {
  
  // TODO: REMOVE! for presentation purposes only
  padding-bottom: 200px;

  // removes horizontal scroll from site
  overflow-x: hidden;
}

// layout config
.uk-container-large {
  max-width: 1440px;
}

// hero section
.hero-section {
  height: 695px;

  .hero-sub {
    font-size: $font-xl;
    font-style: normal;
    font-weight: 600;
    line-height: 51px;
    text-align: center;
    margin-bottom: 36px;
    p {
      letter-spacing: $letter-xl;
      padding: 0 15px;
    }
  }

  .uk-link-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 152px;
    font-weight: bold;

    img {
      left: 5px;
    }
  }

  .uk-label {
    font-size: $font-m;
    font-weight: bold;
    padding: 5px 7px 4px 4px;
    line-height: 20px;
    margin-bottom: 22px;
  }

  @include lg {
    padding-bottom: 62.1%;
    height: 0;

    .hero-sub {
      margin-bottom: 38px;
    }

    .uk-link-reset {
      margin-bottom: 53px;
      img {
        left: 2px;
        margin-left: 8px;
      }
    }

    .uk-label {
      position: absolute;
      right: 60px;
      bottom: 29px;
    }
  }
}

// featured collections section
.featured-collections {
  h2 {
    font-size: $font-l;
    font-weight: bold;
    margin-top: 63px;
    line-height: 34px;
    margin-bottom: 0;

    p {
      letter-spacing: $letter-l;
      margin-bottom: 0;
    }
  }

  .uk-slider {
    margin-left: 15px;

    .uk-slider-items {
      li {
        padding-left: 0;
        margin-right: 15px;
      }
    }
  }

  .uk-subnav {
    justify-content: center;
    padding-left: 26px;
    margin-top: 12px;
    margin-bottom: 50px;

    li {
      padding-left: 5px;

      a {
        padding: 11px;
        font-size: $font-m;
        line-height: 27px;
      }
    }
  }
  
  .slider-arrow{
    margin-right: -28px;
  }

  @include lg {
    h2 {
      margin-top: 88px;
    }

    .uk-slider {
      margin-left: 60px;
      .uk-slider-items li {
        margin-right: 60px;
      }
    }

    .uk-subnav {
      margin-bottom: 56px;
    }

    .slider-arrow{
      margin-right: 60px;
      margin-top: -6px;
    }
  }
}

// product item snippet
.product-item {
  height: 412px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  .product-item-title {
    font-size: $font-sm;
    font-style: normal;
    line-height: 21px;
    text-align: center;
    letter-spacing: $letter-sm;
    margin-left: 32px;
    margin-bottom: 28px;
  }

  .product-item-price {
    transform: rotate(-3.17deg);
    margin-right: 37px;
    margin-bottom: 32px;
    font-size: $font-sm;
    padding: 1px 2px;

    small {
      position: relative;
      top: -4px;
      font-size: $font-xs;
      right: -1px;
    }
  }

  @include lg {
    height: 494px;
    width: 360px;
  }
}
